<section id="about" class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <h1>Division of What?</h1>
    <h2>What makes Division of Labor different?</h2>
    <div class="content-well">
      <p><strong>At our core, we’re a software talent company</strong>. We offer a unique combination of services that solve problems across the development talent spectrum: software development, training and hiring solutions.</p>
      <p><strong>Experience</strong>. We know training and we know software. We built the world’s largest code school and have trained employees at multiple Fortune 500 companies. Our devs have decades of experience building software at every level (from startups to enterprise).</p>
      <p><strong>You can hire the team who builds your software</strong>. Unlike traditional software dev shops, we’ll help you build the software and then help you hire the team who built it so they can continue working on it internally.</p>
    </div>
  </div>
</section>
