<section id="clients" class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <h1>Clients</h1>
    <div class="content-well">
      <ul>
        {{#each albumContext}}
        <li>
          <p>Title: {{this.title}}</p>
          <p>Artist: {{this.artist}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
