<section id="about" class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <h1>We build amazing software and teams, & train you to do the same.</h1>
    <div class="content-well">
      <p>
        At Division of Labor, we provide human solutions for a software-driven world, without drama or egos. Built on years of successful software development and instruction, we help companies thrive in a digital world through training, recruiting and outsourced development projects.
      </p>
    </div>
  </div>
</section>
