<section id="services">
  <h1>Services</h1>
  <h2>We Offer a Variety of Services</h2>
  <ul>
    <li><a href="/training">Training</a></li>
    <li><a href="/recruiting">Recruiting</a></li>
    <li><a href="/software">Software</a></li>
  </ul>
</section>
