<section id="services" class="row center-md content-well">
  <div class="col-xs-12">
    <!-- <h1>Build Your Product or Your Team</h1> -->
    <div class="row">
      <div class="col-md-4">
        <h2>Software Development</h2>
        <p>Software challenges are ultimately business challenges. We’re excellent software developers who are passionate about solving problems in the context of the entire business, and we’re daring enough to tell you when you don’t need custom software.</p>
        <p><a href="/software">Learn more</a></p>
      </div>
      <div class="col-md-4">
        <h2>Corporate Training</h2>
        <p>We collaborate with employers to design custom curriculum pathways for onboarding, reskilling or upskilling employees. Our master instructors adapt delivery based on real-time input from participants and their managers. Our system delivers accelerated, measurable, objective-based outcomes—real return on investment.</p>
        <p><a href="/training">Learn more</a></p>
      </div>
      <div class="col-md-4">
        <h2>Recruiting</h2>
        <p>Tired of paying huge fees to traditional staffing firms? We can help you source top-notch junior candidates from code schools around the country. Looking for someone with more experience? We have a team of talented apprentices on our software development who would love to talk to you.</p>
        <p><a href="/recruiting">Learn more</a></p>
      </div>
    </div>
  </div>
</section>
