<section id="services" class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <h1>Services</h1>
    <h2>We Offer Mad Services</h2>
    <div class="content-well">
      <ul>
        <li><a href="/training">Training</a></li>
        <li><a href="/recruiting">Recruiting</a></li>
        <li><a href="/software">Software</a></li>
      </ul>
    </div>
  </div>
</section>
