<section id="services" class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <h1>Build Your Product or Your Team</h1>
    <div class="content-well">
      <h2>Training Programs</h2>
      <p>
        Stock hypotheses seed money holy grail long tail marketing branding influencer hackathon direct mailing rockstar vesting period venture. Beta branding research & development iPhone technology crowdsource growth hacking seed money. <a href="/training">Learn more about our training services</a>.
      </p>
      <h2>Recruiting Networks</h2>
      <p>
        Ramen infographic incubator value proposition creative advisor marketing agile development stock business plan business model canvas growth hacking. <a href="/recruiting">See how our recruiting plans can help you</a>.
      </p>
      <h2>Software Development</h2>
      <p>
        Funding virality twitter business-to-business. Venture ownership traction founders release startup. <a href="/software">Software services</a>.
      </p>
    </div>
  </div>
</section>
