<section id="team" class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <h1>Meet the Division</h1>
    <h2>Work Hard Play Hard</h2>
    <div class="row content-well">
      {{#each cardContext}}
      {{> card this}}
      {{/each}}
    </div>
  </div>
</section>
