<!doctype html>
<html>
<head>
  <title>Division of Labor</title>
  <link rel="stylesheet" href="/css/stylesheets/style.css" />
</head>
<body>
  <nav>
    <ul>
      <li class="nav-link" id="homeNavLink"><a href="/">Home</a></li>
      <li class="nav-link" id="trainingNavLink"><a href="/training">Training</a></li>
      <li class="nav-link" id="recruitingNavLink"><a href="/recruiting">Recruiting</a></li>
      <li class="nav-link" id="softwareNavLink"><a href="/software">Software</a></li>
    </ul>
  </nav>
  <h1>Division of Labor</h1>
  <div id="app">
    {{{body}}}
  </div>
  <script src="bundle.js"></script>
</body>
</html>
