<!doctype html>
<html>
<head>
  <title>Division of Labor</title>
  <link rel="stylesheet" href="/css/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="app">
    {{{body}}}
  </div>
  <script src="bundle.js"></script>
</body>
</html>
