{{> header}}

<section id="contact" class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8 content-well">
    <h1>Contact</h1>
    <div id="wufoo-z19t2c0a0m600ct">
    Fill out my <a href="https://divisionoflaborxyz.wufoo.com/forms/z19t2c0a0m600ct">online form</a>.
    </div>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
    <script type="text/javascript">
      var z19t2c0a0m600ct;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'divisionoflaborxyz',
      'formHash':'z19t2c0a0m600ct',
      'autoResize':true,
      'height':'480',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z19t2c0a0m600ct = new WufooForm();z19t2c0a0m600ct.initialize(options);z19t2c0a0m600ct.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');
    </script>
  </div>
</section>

{{> footer}}
