<header class="row">
  <div class="col-xs-6">
    <img src="/assets/images/logo-500px.png" alt="Division of Labor logo" class="logo">
  </div>
  <nav class="col-xs-6">
    <ul>
      <li class="nav-link"><a href="#about">About</a></li>
      <li class="nav-link"><a href="#services">Services</a></li>
      <li class="nav-link"><a href="#team">Team</a></li>
      <li class="nav-link"><a href="#clients">Clients</a></li>
      <li class="nav-link"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<section id="about">
  <h1>Primary Headline</h1>
  <h2>Secondary Headline</h2>
  <ul>
    {{#each albumContext}}
    <li>
      <p>Title: {{this.title}}</p>
      <p>Artist: {{this.artist}}</p>
    </li>
    {{/each}}
  </ul>
</section>

<section id="services">
  <ul>
    <li><a href="/training">Training</a></li>
    <li><a href="/recruiting">Recruiting</a></li>
    <li><a href="/software">Software</a></li>
  </ul>
</section>

<section class="row" id="team">
  {{#each cardContext}}
    {{> card this}}
  {{/each}}
</section>

<section id="clients">
  <p>
    Leverage agile <span>frameworks</span> to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
  </p>
</section>

<section id="contact">

</section>
