<h2>Home</h2>
<ul>
  {{#each albumContext}}
    <li>
      <p>Title: {{this.title}}</p>
      <p>Artist: {{this.artist}}</p>
    </li>
  {{/each}}
</ul>
<div>
  {{#each cardContext}}
    {{> card this}}
  {{/each}}
</div>
