<h2>Training</h2>

<div id="wufoo-q1o1iclf1oxekxg">
Fill out my <a href="https://divisionoflaborxyz.wufoo.com/forms/q1o1iclf1oxekxg">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>
<script type="text/javascript">var q1o1iclf1oxekxg;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'divisionoflaborxyz',
'formHash':'q1o1iclf1oxekxg',
'autoResize':true,
'height':'538',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { q1o1iclf1oxekxg = new WufooForm();q1o1iclf1oxekxg.initialize(options);q1o1iclf1oxekxg.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
