body {
  -webkit-font-smoothing: antialiased;
  font: 10px $metro-reg-stack;
  color: $black;
}

h1 {
  font: 1.8rem $metro-semi-bold-stack;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  @media #{$breakpoint-sm-up} {
    font: 3rem $metro-semi-bold-stack;
    letter-spacing: 0.2rem;
    line-height: 5.8rem;
  }
  @media #{$breakpoint-md-up} {
    font: 3.6rem $metro-semi-bold-stack;
    line-height: 6.2rem;
  }
  @media #{$breakpoint-lg-up} {
    font: 4rem $metro-semi-bold-stack;
    line-height: 6.6rem;
  }
}

h2 {
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  font: 1.2rem $metro-bold-stack;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: $goldenrod;
  @media #{$breakpoint-sm-up} {
    margin: 0 0 1.4rem 0;
    font: 1.8rem $metro-bold-stack;
    letter-spacing: 0.2rem;
    line-height: 2.8rem;
  }
  @media #{$breakpoint-md-up} {
    margin: 0 0 1.8rem 0;
    font: 2.2rem $metro-bold-stack;
    letter-spacing: 0.22rem;
    line-height: 3.4rem;
  }
  @media #{$breakpoint-lg-up} {
    margin: 0 0 2rem 0;
    font: 2.4rem $metro-bold-stack;
    line-height: 3.6rem;
  }
}

h3 {
  font: 1.2rem $metro-semi-bold-stack;
  line-height: 1.8rem;
  @media #{$breakpoint-sm-up} {
    font: 1.4rem $metro-semi-bold-stack;
    line-height: 2.2rem;
  }
  @media #{$breakpoint-md-up} {
    font: 1.8rem $metro-semi-bold-stack;
    line-height: 3rem;
  }
  @media #{$breakpoint-lg-up} {
    font: 2.2rem $metro-semi-bold-stack;
    line-height: 3.2rem;
  }
}

p, li, a, span, button, input, textarea, figcaption {
  font-size: 1rem;
  line-height: 1.8rem;
  @media #{$breakpoint-sm-up} {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  @media #{$breakpoint-md-up} {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid $grey;
  &:hover {
    border-bottom: 2px solid $black;
  }
}

span {
  color: $grey;
}

header, footer > div {
  padding: 1.8rem;
}

section > div {
  padding: 2.6rem 1.8rem;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  #menuIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    :hover {
      cursor: pointer;
      path {
        fill: #111;
      }
    }
  }
  #navList {
    position: absolute;
    top: 60px;
    right: -120px;
    text-align: right;
    transition-property: right;
    transition-duration: 300ms;
    &.show {
      right: 18px;
    }
    li {
      a {
        padding: .2rem .4rem;
        background-color: $white;
      }
    }
  }
}
