$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;

$black: #101820;
$goldenrod: #C99700;
$grey: #C1C6C8;
$white: #ffffff;

body {
  padding: 50px;
  font: 14px $font-stack;
  color: $primary-color;
}

.active {
  background-color: $black;
}
