.logo {
  width: 100%;
  max-width: 7rem;
  @media #{$breakpoint-sm-up} {
    max-width: 10rem;
  }
  @media #{$breakpoint-lg-up} {
    max-width: 14rem;
  }
}

.active {
  a {
    background-color: $goldenrod;
  }
}
